h1 {
    font-size: 15vmin;
    margin-bottom: 0;
}

h2 {
    font-size: 5vmin;
    margin-top: 0;
    margin-bottom: 40px;
}

body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
}
