{% set obj = userEnquiries %}
{% set url_fn = 'userviews.userEnquiries' %}
{% extends "userBase.html" %}
{% block title %}Enquiries{% endblock %}
{% block content %}
{% if not listAll %}
<div class="back col s3">
    <button class="back-btn btn-flat btn-medium waves-effect waves-orange" onClick="userEnquiryBack()">
        <i class="material-icons">arrow_back</i>
    </button>
</div>
{% endif %}


<div class="buttons col s9">
    <a href="#modal1" id="searchBtn" class="btn waves-effect waves-light orange"
        onclick="$('#modal1').modal('open');">Search
        <i class="material-icons white-text ">search</i>
    </a>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <div class="search-bar row">
                <div class="input-field col s3">
                    <select name="searchBy" id="searchBy" disabled>
                        <option value='id' selected>Enquiry Code</option>
                    </select>
                    <label>Search By</label>
                </div>
                <div class="input-field col s9">
                    <i class="material-icons prefix black-text">search</i>
                    <input name="searchConstraint" id="searchConstraint" type="text" class="validate">
                    <label for="searchConstraint">Search enquiry</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="modal-close btn-flat waves-effect waves-orange" type="submit" name="action"
                    onClick="userSearchEnquiry('id')">Search
                    <i class="material-icons right">search</i>
                </button>
            </div>
        </div>
    </div>

    
<!-- 
    {% if listAll %}
    <a href="#modal2" class="btn waves-effect waves-light orange modal-trigger"
        onclick="$('#modal2').modal('open');">Add enquiry
        <i class="material-icons right">add</i>
    </a>

    <div id="modal2" class="modal">
        <div class="modal-content">
            <form action="" method="post">
                <div class="row">
                    
                   
                    
                    <div class="input-field col s4">
                        <select name="enquiryUserId" id="userEnquiryUserId">
                            
                            <option value='{{ user.userId }}'>{{ user.userId }}</option>
                          
                        </select>
                        <label>Enquiry UserId</label>
                    </div>
                    <div class="input-field col s4">
                        <select name="enquiryCourseId" id="userEnquiryCourseId">
                            {% for course in courses %}
                            <option value='{{ course.courseId }}'>{{course.courseId }} - {{ course.courseName}}</option>
                            {% endfor %}
                        </select>
                        <label>Enquiry CourseId</label>
                    </div>
                    <div class="input-field col s4">
                        <select name="enquiryStatus" id="userEnquiryStatus">
                            {% for enquiry in userEnquiryStatus %}
                            <option value="{{ enquiry.enquiryStatus }}" selected>{{enquiry.enquiryStatus }}</option>
                            {% endfor %}
                        </select>
                        <label>Enquiry Status</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="userEnquiryDescription" name="enquiryDescription" class="materialize-textarea"></textarea>
                        <label for="userEnquiryDescription">Enter an enquiry</label>
                    </div>
                </div>
  
                <div class="modal-footer">
                    <button class="modal-close btn-flat waves-effect waves-orange" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% endif %} -->



    {% if userEnquiries.items|count != 0 %}
        {% if userEnquiries.items|count == 1 %}
        <span class="card-subtitle center"><em>Showing {{ userEnquiries.items|count }} result</em></span>
        {% else %}
        <span class="card-subtitle center"><em>Showing {{ userEnquiries.items|count }} results</em></span>
        {% endif %}
    {% endif %}
</div>
{% if userEnquiries.items|length == 0 %}
<p class="center empty-content">There are no enquiries to show</p>
{% else %}
{% for enquiry in userEnquiries.items %}
<div class="card">
    <div class="row right">
        <!-- <a href="#{{ enquiry.enquiryId }}" class="modal-trigger btn-flat green-text waves-effect waves-green"
            >Edit
            <i class="material-icons green-text right">edit</i>
        </a> -->
        <div id="{{ enquiry.enquiryId }}" class="modal">
            <div class="modal-content">
                <form action="">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea name="userEnquiryDescription" id="editUserEnquiryDescription{{ enquiry.enquiryId }}" class="materialize-textarea" placeholder="{{ enquiry.enquiryDescription }}" ></textarea>
                            <label for="userEnquiryDescription">Enquiry Description</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <select name="userEnquiryUserId" id="editUserEnquiryUserId{{ enquiry.enquiryId }}" disabled>
                                <option value="{{ enquiry.enquiryUserId }}" selected>{{enquiry.enquiryUserId }}</option>
                            </select>
                            <label>Enquiry UserId</label>
                        </div>
                        <div class="input-field col s6">
                            <select name="userEnquiryCourseId" id="editUserEnquiryCourseId{{ enquiry.enquiryId }}" disabled>
                                <option value="{{ enquiry.enquiryCourseId }}" selected>{{enquiry.enquiryCourseId }}</option>
                            </select>
                            <label>Enquiry CourseId</label>
                        </div>
                    <div class="input-field col s4">
                        <select name="enquiryStatus" id="enquiryStatus">
                            {% for enquiry in enquiryStatus %}
                            <option value="{{ enquiry.enquiryStatus }}" selected>{{enquiry.enquiryStatus }}</option>
                            {% endfor %}
                        </select>
                        <label>Enquiry Status</label>
                    </div>
            
                    </div>
                    <div class="modal-footer">
                        <button class="modal-close btn-flat waves-effect waves-orange" onClick="editEnquiry('{{ enquiry.enquiryId }}')">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- {% if enquiry.users|count != 0 %}
        <a class="btn-flat red-text waves-effect waves-red tooltipped" data-position="top"
            data-tooltip="There are no enquiries. This can be deleted." onClick="deleteEnquiry('{{ enquiry.userEnquiryId }}')">Delete
            <i class="material-icons red-text right">delete</i>
        </a>
        {% endif %} -->
    </div>
    
    <div class="row">
        <div class="col s10">
            <h1 class="card-title">
                Enquiry Code : EQ0{{ enquiry.enquiryId }}
            </h1>
            <p class="card-subtitle"><em>Enquiry Course Name : {{ course_id_names[enquiry.enquiryCourseId] }}</em></p>
            <span class="card-subtitle"><em>Description : {{ enquiry.enquiryDescription }}</em></span>
        </div>


        <!-- <div class="col s2 right">
            <div class="switch">
                <label>
                  DISABLED
                  {% if enquiry.enquiryStatus %}
                  <input id="enquirySwitch" name='enquiryClose' type="checkbox" onClick="toggleEnquiry()" value="DISABLED" checked disabled>
                  {% else %}
                  <input id="enquirySwitch" name='enquiryClose' type="checkbox" onClick="toggleEnquiry()" value="ENABLED" disabled>
                  {% endif %}
                  <span class="lever"></span>
                  ENABLED
                </label>
            </div>
        </div> -->
    </div>
</div>
{% endfor %}

{% endif %}
{% endblock %}